

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title -BICIKLISTIČKI KLUB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">  @Html.ActionLink("BICIKLISTIČKI KLUB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>


            </div>
           
            <ul class="nav navbar-nav ">
                <li>@Html.ActionLink("Početna", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Članovi <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>@Html.ActionLink("Popis Članova", "Popis", "Clanovi", new { area = "" }, new { @class = "nav-link" })</a></li>

                    </ul>
                </li>

                <li>@Html.ActionLink("Galerija", "Galerija", "Clanovi", new { area = "" }, new { @class = "nav-link" })</li>



                @if (User.Identity.IsAuthenticated && (User as BiciklistickiKlub.Misc.LogiranKorisnik).IsInRole(BiciklistickiKlub.Misc.OvlastiKorisnik.Administrator))
                {

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                            <li>@Html.ActionLink("Korisnici", "Index", "Korisnici") </li>
                            <li>@Html.ActionLink("Funkcije članova", "Index", "Funkcije") </li>
                            <li>@Html.ActionLink("Upravljanje liječnićkima", "Index", "Lijecnicki") </li>
                        </ul>
                    </li>
                }

                <li>@Html.ActionLink("Forum", "Index", "Forum", new { area = "" }, new { @class = "nav-link" })</li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink(((User as BiciklistickiKlub.Misc.LogiranKorisnik).PrezimeIme), "Index", "Home")</li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profil<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                           
                            <li>@Html.ActionLink("Promjena lozinke ", "PromjenaLozinke", "Korisnici") </li>
                            <li>@Html.ActionLink("Odjava", "Odjava", "Korisnici")</li>
                        </ul>
                    </li>

                    

                }
                else
                {
                    <li>@Html.ActionLink("Registracija", "Registracija", "Korisnici")</li>
                    <li>@Html.ActionLink("Prijava", "Prijava", "Korisnici")</li>
                }
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;Biciklistički klub MEV @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/yqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
