

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title -BICIKLISTIČKI KLUB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">  @Html.ActionLink("BICIKLISTIČKI KLUB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>


            </div>
           
            <ul class="nav navbar-nav ">
                <li>@Html.ActionLink("Početna", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Članovi <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>@Html.ActionLink("Popis Članova", "Popis", "Clanovi", new { area = "" }, new { @class = "nav-link" })</a></li>
                        <li><a>@Html.ActionLink("Početna o članovima", "Index", "Clanovi", new { area = "" }, new { @class = "nav-link" })</a></li>
                        <li><a href="#">Postani član</a></li>
                        <li><a href="#">Uvjeti članstva</a></li>
                    </ul>
                </li>

                <li><a>Galerija</a></li>

                <li><a>Kontakt</a></li>

            </ul>

        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;Biciklistički klub MEV @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/yqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
