@using BiciklistickiKlub.Models
@model List<Korisnik>
@{
    ViewBag.Title = "Popis korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Korisnici", FormMethod.Get))
            {
                <p>
                    Naziv: @Html.TextBox("naziv")
                    <input type="submit" value="Traži" />
                </p>
            }
<table class="table table-striped">
    <thead>
        <tr>
            <th>Korisničko ime</th>
            <th>Email</th>
            <th>Prezime i ime</th>
            <th>Ovlasti</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var kor in Model)
        {
           
                
                <tr>
                    <td>@kor.KorisnickoIme</td>
                    <td>@kor.Email</td>
                    <td>@kor.PrezimeIme</td>
                    <td>@(kor.Ovlast?.Naziv)</td>
                    <td>@Html.ActionLink("Ažuriraj", "Azuriraj", new { email = kor.Email })</td>
                    <!-- Ovdje bi bio i drugi inputi za temu
    <td>
        <a href="@Url.Action("Azuriraj","Lijecnicki", new {PrezimeIme = kor.KorisnickoIme})" class="btn btn-success ">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Kreiranje novog pregleda
        </a>
    </td>
        -->
                </tr>
            
        }

    </tbody>
</table>

