@using BiciklistickiKlub.Models
@model List<Korisnik>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Korisničko ime</th>
            <th>Email</th>
            <th>Prezime i ime</th>
            <th>Ovlasti</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var kor in Model)
        {
            if (kor.Aktivan == true)
            {
                
                <tr>
                    <td>@kor.KorisnickoIme</td>
                    <td>@kor.Email</td>
                    <td>@kor.PrezimeIme</td>
                    <td>@(kor.Ovlast?.Naziv)</td>
                    <td>@Html.ActionLink("Ažuriraj", "Azuriraj", new { email = kor.Email })</td>
                </tr>
            }
        }

    </tbody>
</table>

